Repository adrielcodeco/onhand: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  'onhand_business':
    paths:
      - packages/business/
  'onhand_business_aws':
    paths:
      - packages/business-aws/
  'onhand_controller':
    paths:
      - packages/controller/
  'onhand_framework':
    paths:
      - packages/framework/
  'onhand_framework_aws':
    paths:
      - packages/framework-aws/
  'onhand_jsend':
    paths:
      - packages/jsend/

chore(release): publish v2.0.29 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: authorizationTokenHeader
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
Due: onhand_framework_aws

chore(release): publish v2.0.30 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: serveCommand
  packages/iac-aws/src/commands/serve.ts
Due: none

chore(release): publish v2.0.31 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: build
  packages/iac-aws/src/bin/iac.ts
Due: none

chore(release): publish v2.0.32 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: cors
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
  packages/iac-aws/src/app/serve.ts
Due: onhand_framework_aws

chore(release): publish v2.0.33 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: identitySourcesHeaders
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: onhand_framework_aws

chore(release): publish v2.0.34 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: identitySourcesHeaders
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/app/serve.ts
Due: none

chore(release): publish v2.0.35 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: cookies
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
Due: onhand_framework_aws

chore(release): publish v2.0.36 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: input parameters
  packages/openapi/src/decorators/http/parameters/httpCookie.ts
  packages/openapi/src/decorators/http/parameters/httpHeader.ts
  packages/openapi/src/decorators/http/parameters/httpPath.ts
  packages/openapi/src/decorators/http/parameters/httpQuery.ts
Due: none

chore(release): publish v2.0.37 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(aws-iac): express log
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/iac-aws/src/app/serve.ts
Due: onhand_framework_aws

chore(release): publish v2.0.38 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): cors
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/iac-aws/src/app/config.ts
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: onhand_framework_aws

chore(release): publish v2.0.39 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): cors
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v2.0.40 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: cors
  packages/framework-aws/src/infrastructure/apigateway/apigatewayCORS.ts
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: onhand_framework_aws

chore(release): publish v2.0.41 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: accessControlAllowCredentials
  packages/iac-aws/src/app/serve.ts
Due: none

chore(release): publish v2.0.42 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend
