Repository adrielcodeco/onhand: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  'onhand_business':
    paths:
      - packages/business/
  'onhand_business_aws':
    paths:
      - packages/business-aws/
  'onhand_controller':
    paths:
      - packages/controller/
  'onhand_framework':
    paths:
      - packages/framework/
  'onhand_framework_aws':
    paths:
      - packages/framework-aws/
  'onhand_jsend':
    paths:
      - packages/jsend/

fix(iac-aws): package
  packages/iac-aws/src/app/pack.ts
  packages/iac-aws/src/app/webpack.ts
Due: none

chore(release): publish v2.0.11 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): package
  packages/iac-aws/src/app/pack.ts
Due: none

chore(release): publish v2.0.12 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(framework-aws): header case insensitive
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
Due: onhand_framework_aws

fix(iac-aws): function log retention
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

fix(iac-aws): apigateway access log
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
Due: none

chore(release): publish v2.0.13 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: ioc
  packages/framework-aws/package.json
  packages/framework-aws/src/ioc/index.ts
  packages/framework/package.json
  packages/framework/src/ioc/index.ts
Due: onhand_framework, onhand_framework_aws

chore(release): publish v2.0.14 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.15 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): Cannot read properties of undefined (reading 'concat')
  packages/iac-aws/src/app/functions.ts
Due: none

chore(release): publish v2.0.16 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: aws deploy
  .github/workflows/release.yml
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v2.0.17 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: update package versions
  package.json
  packages/cli/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-docker/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/workspace/package.json
  packages/workspace/src/lib/generators/index.ts
  yarn.lock
Due: onhand_framework, onhand_framework_aws

chore(release): publish v2.0.18 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: permissions
  .cspell.json
  package.json
  packages/business-aws/package.json
  packages/framework-aws/package.json
  packages/framework-aws/src/infrastructure/apigateway/metadata/policiesMetadata.ts
  packages/iac-aws/package.json
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/site/stacks/cloudfrontStack.ts
  packages/openapi/src/metadata/functionMetadata.ts
  packages/robot/package.json
  yarn.lock
Due: onhand_business_aws, onhand_framework_aws

chore(release): publish v2.0.19 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: typecheck
  packages/robot/src/client/app.tsx
Due: none

chore(release): publish v2.0.20 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: iac-aws dependencies
  packages/iac-aws/package.json
  yarn.lock
Due: none

chore(release): publish v2.0.21 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: lambda memory
  .github/workflows/release.yml
  packages/iac-aws/src/app/functions.ts
Due: none

chore(release): publish v2.0.22 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

feat: custom authorizer headers
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/framework-aws/src/infrastructure/apigateway/authorizerHandler.ts
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/workspace/src/commands/addRepoCommand.ts
Due: onhand_framework_aws

fix: typing
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
Due: onhand_framework_aws

chore(release): publish v2.0.23 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

feat: response metadata
  packages/framework-aws/src/infrastructure/apigateway/apigatewayOutput.ts
  packages/jsend/package.json
  packages/jsend/src/httpMetadata.ts
  packages/openapi/src/metadata/documentMetadata.ts
  packages/openapi/src/metadata/functionMetadata.ts
  packages/openapi/src/metadata/handlerMetadata.ts
  packages/utils/src/index.ts
  packages/utils/src/mergeObject.ts
  packages/utils/src/metadata.ts
Due: onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.24 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

feat(jsend): setCookie
  package.json
  packages/jsend/package.json
  packages/jsend/src/index.ts
  packages/jsend/src/setCookie.ts
  yarn.lock
Due: onhand_jsend

chore(release): publish v2.0.25 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: typing
  packages/jsend/src/httpMetadata.ts
  packages/jsend/src/setCookie.ts
  packages/openapi/src/metadata/documentMetadata.ts
  packages/openapi/src/metadata/functionMetadata.ts
  packages/openapi/src/metadata/handlerMetadata.ts
  packages/utils/src/metadata.ts
Due: onhand_jsend

chore(release): publish v2.0.26 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

feat: time utils
  packages/utils/src/time.ts
Due: none

chore(release): publish v2.0.27 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: manageMetadata
  packages/utils/src/metadata.ts
Due: none

chore(release): publish v2.0.28 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend
