Repository adrielcodeco/onhand: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): deploy stack
  packages/iac-aws/src/cdk/api/customResource.ts
Due: none

chore(release): publish v1.1.35 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.36 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: types
  package.json
  packages/framework-aws/src/infrastructure/apigateway/apigatewayFunction.ts
  packages/framework-aws/src/infrastructure/apigateway/authorizerCognitoFunction.ts
  packages/framework-aws/src/infrastructure/apigateway/authorizerCustomFunction.ts
  packages/framework-aws/src/services/cognitoService.ts
  packages/framework/src/infrastructure/axiosInterceptors.ts
  packages/iac-aws/src/app/metadata.ts
  packages/iac-aws/src/app/metadataGenerator.ts
  packages/iac-aws/src/cdk/api/app.ts
  packages/iac-aws/src/cdk/api/stacks/apiStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/api/stacks/s3Stack.ts
  packages/iac-aws/src/cdk/cdk.ts
  packages/iac-aws/src/cdk/stack.ts
  packages/iac-aws/src/cdk/uploadAssets.ts
  packages/robot/src/server/api/github.ts
  yarn.lock
Due: onhand_framework, onhand_framework_aws

chore(release): publish v1.1.37 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: types
  packages/iac-aws/src/app/metadataGenerator.ts
  packages/robot/src/client/services/api.ts
Due: none

fix: iac
  .cspell.json
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/resources.ts
Due: none

fix: cdk output
  packages/iac-aws/src/app/config.ts
  packages/iac-aws/src/cdk/cdk.ts
Due: none

fix: canary
  .github/workflows/canary.yml
  package.json
Due: none

chore(release): publish v1.1.38-next.0 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.0 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.1-alpha.0 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.1-alpha.1 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: pipeline
  .github/workflows/canary.yml
  .github/workflows/release.yml
  .github/workflows/validations.yml
Due: none

chore(release): publish v2.0.1-alpha.2 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: iac-aws
  .github/workflows/validations.yml
  packages/iac-aws/src/app/serve.ts
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/commands/seed.ts
  packages/iac-aws/src/commands/serve.ts
Due: none

chore(release): publish v2.0.1-alpha.3 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: iac
  packages/iac-aws/src/app/pack.ts
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/cdk.ts
  packages/iac-aws/src/cdk/deploy.ts
  packages/iac-aws/src/commands/deploy.ts
Due: none

chore(release): publish v2.0.1 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: iac
  packages/iac-aws/bin/iac
  packages/iac-aws/src/app/webpack.ts
Due: none

chore(release): publish v2.0.2 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(IAC): seed function
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/stack.ts
Due: none

chore(release): publish v2.0.3 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(IAC): functions handler
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/app/webpack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v2.0.4 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: deploy promotion argument
  packages/eslint/src/js.js
  packages/eslint/src/ts.js
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/commands/deploy.ts
Due: none

fix(IAC): commands options
  packages/iac-aws/src/bin/iac.ts
Due: none

chore(release): publish v2.0.5 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(IAC): promotion with new version
  packages/iac-aws/src/bin/iac.ts
  packages/iac-aws/src/cdk/cdk.ts
  packages/iac-aws/src/cdk/deploy.ts
  packages/iac-aws/src/commands/deploy.ts
Due: none

chore(release): publish v2.0.6 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(IAC): lint
  packages/iac-aws/src/cdk/init.ts
  packages/iac-aws/src/commands/promote.ts
Due: none

chore(release): publish v2.0.7 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): cloudfront acesso de origem
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/site/stacks/cloudfrontStack.ts
  packages/iac-aws/src/cdk/site/stacks/s3Stack.ts
  packages/iac-aws/src/cdk/stack.ts
Due: none

chore(release): publish v2.0.8 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(IAC-AWS): lambda handler
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/site/stacks/cloudfrontStack.ts
Due: none

fix: typecheck
  packages/robot/src/server/loadProjectData.ts
Due: none

chore(release): publish v2.0.9 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v2.0.10 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

Path conditions:
  onhand_business: any of: packages/business/
  onhand_business_aws: any of: packages/business-aws/
  onhand_controller: any of: packages/controller/
  onhand_framework: any of: packages/framework/
  onhand_framework_aws: any of: packages/framework-aws/
  onhand_jsend: any of: packages/jsend/
