Repository adrielcodeco/onhand: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

.codecov.yml:

coverage:
  status:
    patch:
      default:
        # Ensure % of code is covered
        target: 90%
    project:
      default:
        # auto compares coverage to the previous base commit
        target: auto
        # adjust accordingly based on how flaky your tests are
        # this allows a 10% drop from the previous base commit coverage
        threshold: 10%
parsers:
  javascript:
    enable_partials: yes
comment:
  layout: diff, flags, files
  require_changes: true
flags:
  'onhand_business':
    paths:
      - packages/business/
  'onhand_business_aws':
    paths:
      - packages/business-aws/
  'onhand_controller':
    paths:
      - packages/controller/
  'onhand_framework':
    paths:
      - packages/framework/
  'onhand_framework_aws':
    paths:
      - packages/framework-aws/
  'onhand_jsend':
    paths:
      - packages/jsend/

fix: pipeline
  .github/workflows/release.yml
Due: none

fix: pipeline
  .github/workflows/canary.yml
  .github/workflows/release.yml
Due: none

fix: pipeline
  .github/workflows/canary.yml
Due: none

feat: docs
  .releaserc.json
  devops/update-docs-version.js
  docs/.nojekyll
  docs/_coverpage.md
  docs/_navbar.md
  docs/_sidebar.md
  docs/index.html
  docs/onhand.md
  package.json
  packages/cli/package.json
  packages/cli/src/bin/onhand.ts
  packages/cli/src/commands/getStartedCommand.ts
  packages/robot/src/server/index.ts
  tsconfig.eslint.json
  yarn.lock
Due: none

chore: pipeline
  .markdownlint.json
  devops/update-docs-version.js
Due: none

chore: badges
  .github/workflows/canary.yml
  .github/workflows/release.yml
  .github/workflows/validations.yml
  README.md
Due: none

fix: typecheck
  .cspell.json
  TODO.md
  packages/eslint/tsconfig.json
  packages/iac-aws/src/app/db/timeline.ts
  packages/robot/src/client/components/molecules/apiRouteDetails.tsx
  packages/robot/src/client/components/organisms/deploy/envs.tsx
  packages/robot/src/client/components/organisms/deploy/profile-form.tsx
  packages/robot/src/client/services/projects.ts
  packages/robot/src/server/libs/promote.ts
  packages/robot/src/server/loadProjectData.ts
  packages/robot/src/server/reflection/models.ts
  packages/robot/src/server/reflection/repositories.ts
  packages/robot/src/server/reflection/services.ts
  packages/robot/src/server/reflection/usecases.ts
Due: none

fix: dependencies
  package.json
  yarn.lock
Due: none

v0.0.0
  package.json
Due: none

fix: yarn upgrade
  package.json
  packages/cli/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/iac-aws/package.json
  packages/robot/package.json
  packages/workspace/package.json
  yarn.lock
Due: onhand_framework_aws

chore(release): publish v1.1.0 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.1 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.2 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.3 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.4 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: release pipeline
  .github/workflows/release.yml
Due: none

chore(release): publish v1.1.5 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.6 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: pipeline release
  .github/workflows/release.yml
Due: none

chore(release): publish v1.1.7 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.8 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish release/v1.1.9 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish release/v1.1.10 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: pipeline release [ci skip]
  .github/workflows/release.yml
Due: none

chore(release): publish v1.1.11 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: release pipeline [ci skip]
  .github/workflows/release.yml
  .gitignore
Due: none

chore(release): publish v1.1.12 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: workspace bin
  .github/workflows/release.yml
  packages/workspace/package.json
Due: none

chore(release): publish v1.1.13 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: workspace dependencies
  packages/workspace/package.json
Due: none

chore(release): publish v1.1.14 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: pipeline release
  yarn.lock
Due: none
