Repository adrielcodeco/onhand: changes, and which Codecov flags are due for each by the changed paths.
All: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

chore(release): publish v1.1.15 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: packages files
  packages/robot/package.json
  packages/workspace/package.json
  packages/workspace/src/commands/createCommand.ts
Due: none

chore(release): publish v1.1.16 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: workspace templates
  packages/workspace/package.json
Due: none

chore(release): publish v1.1.17 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

feat: iac-docker
  onhand.code-workspace
  packages/iac-docker/.eslintignore
  packages/iac-docker/.vscode/settings.json
  packages/iac-docker/Dockerfile
  packages/iac-docker/README.md
  packages/iac-docker/bin/iac
  packages/iac-docker/package.json
  packages/iac-docker/src/app/config.ts
  packages/iac-docker/src/app/getOpenApi.ts
  packages/iac-docker/src/app/listRules.ts
  packages/iac-docker/src/app/loadConfig.ts
  packages/iac-docker/src/app/options.ts
  packages/iac-docker/src/app/serve.ts
  packages/iac-docker/src/bin/iac.ts
  packages/iac-docker/src/commands/listRules.ts
  packages/iac-docker/src/commands/openApi.ts
  packages/iac-docker/src/commands/serve.ts
  packages/iac-docker/tsconfig.build.json
  packages/iac-docker/tsconfig.json
  packages/workspace/src/commands/createCommand.ts
  packages/workspace/src/lib/createWorkspace.ts
  packages/workspace/src/lib/generators/generator.ts
  packages/workspace/src/lib/git.ts
  packages/workspace/templates/.gitignore
Due: none

chore(release): publish v1.1.18 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: iac-docker dependencies
  packages/iac-docker/package.json
  packages/iac-docker/src/commands/serve.ts
Due: none

chore(release): publish v1.1.19 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: yarn lock
  yarn.lock
Due: none

chore(release): publish v1.1.20 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: onhand-workspace init
  packages/workspace/src/lib/git.ts
  packages/workspace/src/lib/initRepos.ts
Due: none

chore(release): publish v1.1.21 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: tsting main
  packages/framework/src/infrastructure/axiosInterceptors.ts
  packages/tsting/package.json
Due: onhand_framework

fix: pipeline
  .github/workflows/release.yml
Due: none

chore(release): publish v1.1.22 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: typecheck
  packages/framework/src/infrastructure/axiosInterceptors.ts
Due: onhand_framework

chore(release): publish v1.1.23 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: eslint
  packages/eslint/index.js
  packages/eslint/package.json
  packages/eslint/src/js.js
  packages/eslint/src/ts.js
  yarn.lock
Due: none

chore(release): publish v1.1.24 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix: function deploy stack
  packages/iac-aws/src/app/loadConfig.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-docker/src/app/loadConfig.ts
Due: none

chore(release): publish v1.1.25 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): deploy
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/app/options.ts
  packages/iac-aws/src/cdk/api/functions/aliases.ts
  packages/iac-aws/src/cdk/api/functions/functions.ts
  packages/iac-aws/src/cdk/api/functions/roles.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/api/stacks/versioningStack.ts
  packages/iac-aws/src/cdk/customStacks/lambdaStack.ts
  packages/iac-aws/src/cdk/customStacks/sourceVersioningStack.ts
  packages/iac-aws/src/cdk/site/stacks/cloudfrontStack.ts
Due: none

chore(release): publish v1.1.26 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): deploy command
  packages/iac-aws/src/app/webpack.ts
Due: none

chore(release): publish v1.1.27 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): s3 stack name
  packages/iac-aws/src/app/options.ts
  packages/iac-aws/src/cdk/resources.ts
  packages/iac-aws/src/cdk/sdkThrottling.ts
Due: none

chore(release): publish v1.1.28 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): s3 bundle name
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/api/stacks/apigatewayStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
  packages/iac-aws/src/cdk/api/stacks/s3Stack.ts
  packages/iac-aws/src/cdk/resources.ts
Due: none

chore(release): publish v1.1.29 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): stack name
  packages/iac-aws/src/cdk/resources.ts
Due: none

chore(release): publish v1.1.30 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): s3 bundle folder name
  packages/iac-aws/src/app/functions.ts
  packages/iac-aws/src/cdk/deploy.ts
Due: none

chore(release): publish v1.1.31 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): onhandSeedFunction to camelCase
  packages/iac-aws/src/cdk/api/customResource.ts
  packages/iac-aws/src/cdk/api/stacks/deployStack.ts
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.1.32 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): onhand-seed-function
  packages/iac-aws/src/cdk/api/stacks/functionsStack.ts
Due: none

chore(release): publish v1.1.33 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

fix(iac-aws): authentication function name
  packages/iac-aws/src/app/functions.ts
Due: none

chore(release): publish v1.1.34 [ci skip]
  lerna.json
  packages/accesscontrol/package.json
  packages/business-aws/package.json
  packages/business/package.json
  packages/cli/package.json
  packages/controller/package.json
  packages/domain-aws/package.json
  packages/eslint/package.json
  packages/framework-aws/package.json
  packages/framework/package.json
  packages/iac-aws/package.json
  packages/iac-docker/package.json
  packages/jsend/package.json
  packages/openapi/package.json
  packages/robot/package.json
  packages/tsting/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: onhand_business, onhand_business_aws, onhand_controller, onhand_framework, onhand_framework_aws, onhand_jsend

Path conditions:
  onhand_business: any of: packages/business/
  onhand_business_aws: any of: packages/business-aws/
  onhand_controller: any of: packages/controller/
  onhand_framework: any of: packages/framework/
  onhand_framework_aws: any of: packages/framework-aws/
  onhand_jsend: any of: packages/jsend/
